.styleBlock {


  div {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.ton {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 30px;
    height: 30px;
  }
}

.mt {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.body {
  position: relative;
}

@media screen and (max-width: 652px) {
  .ton {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 15px;
      height: 15px;
    }
  }
  .styleBlock {
    div {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }
}